/*Style of Saadin Dassum website*/

@import url('https://fonts.googleapis.com/css?family=Oswald|Shadows+Into+Light+Two&display=swap');

#mhead {
	z-index: 200;
}

#mhead header {
	position: fixed;
	top: 0;
	width:100%;
	z-index:100;
	background-color: black;
}

#mhead button {
	margin-top:1%;
	border:none;
	border-radius:5%;
	padding:8px;
  background-color: transparent; /* Main theme color */
  color: #1a75ff;
  text-align: center;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  cursor: pointer;
	font-size:24px;
	float: left;
}

#mhead header button:hover, #deskhead buttton:hover {
	color:#FFFAF1;
	background-color:#1a75ff;
}

#mhead #topnav {
	overflow: hidden;
	background-color:rgb(10,12,12);
	position: absolute;
	top: 0px;
	background-color:black;
}



#topnav a {
	  color: #FFFAF1;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	  display: block;
	  border-color:rgb(5,6,6);
		z-index: 201;
		right: 0;
		background-color: black;
}

#topnav p {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

#topnav a.icon {
	/*border-style:none;*/
	background-color: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border-style: none;
}

.active {
	background-color:rgb(10,12,12);;
	color: white;
}

.currentPage{
	background-color:#ff166a;
}

button {
	margin-top:1%;
	font-family: 'Shadows Into Light Two', cursive;
	border:none;
	border-radius:5%;
	padding:8px;
  background-color: transparent; /* Main theme color */
  color: #1a75ff;
  text-align: center;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  cursor: pointer;
	font-size:24px;
	float: left;
}

#topnav {
	  overflow: hidden;
	  background-color:black;
	  position: relative;
}

#topnav #pages {
	display: none;
}

#socialMediaButtons {
	width: 100%;
	height: 3.9em;
}


#deskhead	header{
		position:fixed;
		z-index: 9999;
		background-color:black;
		width:100%;
	}

#deskhead	header::after{
		content:'';
		display:table;
		clear:both;
	}

#deskhead	.navBar {
		width: 80%;
		margin: 0 auto;
		/*display:block;*/
	}

#deskhead	.logo {
		float:left;
		height:3em;
		width:auto;
		margin-top:0.5em;
		margin-left:0.5em;
	}

#deskhead	nav {
		width:100%;
	}

#deskhead	.currentPage {
		background-color:#ff166a;
		color:#FFFAF1;
		cursor: default;
	}

#deskhead	.currentPage:hover{
		background-color:#ff166a;
	}

#deskhead nav ul {
		margin: 0;
		padding: 0;
		list-style:none;
		float:right;
	}

#deskhead	nav li {
		display: inline-block;
		margin-left:5px;
		/*margin-top:20px;*/
	}

#deskhead	nav a {
		position:relative;
		text-decoration:none;
		color:#FFFAF1;
		/*text-transform:uppercase;*/
	}

#deskhead	nav a:hover{
		outline-color: #FFFAF1;
		transition: all ease-in-out 250ms;
	}

#deskhead	nav button {
	margin-top:1%;
	border:none;
	border-radius:5%;
	padding:8px;
	background-color: transparent; /* Main theme color */
	color: #1a75ff;
	text-align: center;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	cursor: pointer;
	font-size:23px;
	float: left;
}

body {
	overflow-x:hidden;
	font-family: 'Oswald', sans-serif;
	background-color:rgb(10,12,12);
	color:#FFFAF1;
	margin:0;
	font-size:0.9em;
}

section.top {
	margin:7%;
}

#separator {
	margin-top: 5em;
}

.smallPlayer {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.smalltext {
	text-align:center;
	font-size:0.8rem;
}

footer {
	width: 100%;
	margin-top:5em;
}

.lyrics {
	z-index:2;
	text-shadow:2px 2px black;
	margin-left: 1em;
	display: none;
}

.rage {
	font-family: 'Shadows Into Light Two', cursive;
}

a.rage {
	text-decoration: none;
	margin-left: 0.4em;
	color:#1a75ff;
}

h1.rage {
	text-align: center;
}

#gigs {
	margin-left: 1em;
	margin-right: 1em;
  display: grid;
	width: 80%;
  grid-template-areas:
  'genArea venue date';
  grid-gap:0.2em;
	height:3em;
	border-top: 2px solid #FFFAF1;
	border-bottom: 2px solid #FFFAF1;
}

#genArea {
  grid-area: region;
}

#venue {
  grid-area: venue;
	height: 1em;
}

#date {
  grid-area: date;
}

#credsDiv {
	height:60em;
}

.creditsGrid {
	margin-left: 1em;
	margin-right: 1em;
	display: grid;
	width: 80%;
	grid-template-areas:
	'role name';
	grid-gap: 1em;
}

.albumart {
	height:20em;
	border-radius:2px;
	margin-left: 1.5em;
	border: 2px solid #1a75ff;
}

.tabcontainer {
	display: grid;
	grid-template-areas:
	'button';
}

.tabby {
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 2px;
	background-color: #FFFAF1;
	color: #1a75ff;
}

.tabbyActive {
	margin-left: 1em;
	border-radius: 2px;
	background-color: #1a75ff;
	color: #FFFAF1;
}

#deskhead {
	top:0px;
	display: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

	section.content {
		display:none;
		position:absolute;
	}

	.banner{
		/*margin-top:40px;*/
		position:relative;
		height:100%;
		color:#FFFAF1;
	}

	.player {
		max-width:100%;
		/*margin-left:30%;*/
	}

	section{
		position:absolute;
		width:100%;
	}

	section p {
		text-align: center;
	}

	aside {
		float:right;
		position:relative;
	}

	article {
		margin-left: 1em;
		float:left;
		margin-left:15%;
	}

	section h1{
	}

	 .bigtext{
		font-size:50px;
	}

	.pinkBackground {
		background-color:#ff166a;
	}

	.blueBackground {
		background-color:#1a75ff;
	}

 	.smallPlayer {
		width:960px;
		height:540px;
	}

	.tabcontainer {
		display: inline;
		float: right;
	}

	#mhead {
		display: none;
	}

	#deskhead {
		display: inline;
	}
}
