/* P A L E T T E
Amarillo patito: #fabf00
Blue Grey:  #6699CC
*/

/* Cream purple - c38dbf
Green - 89c876
Orange - f9a558
Blue - 76b9e6
Extra font: Ink Free */

:root {
    --secondary: #fabf00;
    --grey: #333333;
    --primary: #ffffff;
    --cream-purple: #c38dbf;
    --orange: #f9a558;
    --blue: #76b9e6;
    --green: #89c876;
    --title-image-size: 440px;
    --hover-title-size: 450px;
    --transition-time: 500ms;
    font-size: 20px;
  }

/* F O N T S */
@font-face {
    font-family: 'chalet';
    src: url('fonts/Chalet.otf');
    font-weight: normal;
    font-style: normal;
}

/* F O N T S */
@font-face {
    font-family: 'chalktastic';
    src: url('fonts/Chalktastic.otf');
    font-weight: normal;
    font-style: normal;
}

.cream-purple {
    color: var(--cream-purple);
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}

body {
    font-family: 'chalet';
    background-color: black;
    color: var(--primary);
    overflow: hidden;
  }

h1, h2 {
    font-family: 'chalktastic';
    text-align: center;
  }

h3 {
    font-family: 'chalktastic';
}

a {
    color: var(--blue);
    text-decoration: none;
}

span {
    color: var(--orange);
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.max-width {
    max-width: 1300px;
    margin: auto;
    overflow-x: hidden;
}

strong {
    color: var(--orange);
}

/* for reveal overlay */
#reveal-overlay {
    margin-top: 720px;
    z-index: 999;
}

/*Home section styling*/

#sd-logo {
    width: 1280px;
}

#tagline {
    display: flex;
    justify-content: space-between;
}

/* For resume section */

#resume {
    display: flex;
}

#summary {
    margin-right: 5px;
    margin-left: 5px;
}

.dx-box {
    border: 8px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
}

#r-left {
    width: 65%;
}

#r-right {
    margin-left: 2%;
    width: 33%;
}

.float-left {
    float: left;
}

.tiny-image {
    width: 20%;
}

.org-accolade {
    width: 48%;
    margin: 0;
    float: left;
}

#accolade-padding {
    width: 4%;
    height: 10px;
    float: left;
}

.accolade-box {
    height: 300px;
}

.org-padding {
    float: left;
    width: 1%;
}

.org-image {
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.accolade-image {
    float: right;
    width: 50%;
}

.roles {
    width: 48%;
}

#cap-padding {
    height: 25px;
    width: 100%;
    border-bottom: 2px solid white;
}

#cap-container {
    color: white;
    text-align: center;
    padding: 5px;
    transform: translate(0, -50%);
    background-color: black;
    width: 75px;
    margin: 0 auto;
}

.chalet-title {
    font-family: 'chalet';
}

#gpa {
    text-align: center;
}

/* Responsive media query */

@media (max-width: 1350px) {
    .max-width {
        max-width: 900px;
        padding: 0;
    }

    #centerpiece {
        height: 300px;
    }

    .supporting-song {
        height: 250px;
    }

    .song-thumbnail img {
        height: 100%;
    }
}

@media (max-width: 991px) {
    .max-width {
        max-width: 900px;
        padding: 0;
    }

    .supporting-song {
        height: 175px;
    }

    #centerpiece {
        height: 225px;
    }
}

@media (max-width: 920px) {
    .max-width {
        max-width: 680px;
        padding: 0;
    }

    #centerpiece {
        height: 200px;
    }

    .supporting-song {
        height: 150px;
    }

    .song-thumbnail img {
        -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
    }

    .song-thumbnail p {
        display: none;
    }

    #track-listing img {
        width: 75%;
    }

    #track-listing  p {
        width: 90%;
        float: none;
    }
}

@media (max-width: 690px) {
    /*690 global*/
    .max-width {
        margin-left: 23px;
        margin-right: 23px;
    }

    #track-listing img {
        width: 90%;
    }
}

@media (max-width: 500px) {

}