/* P A L E T T E
Amarillo patito: #fabf00
Blue Grey:  #6699CC
*/

:root {
    --secondary: #fabf00;
    --grey: #333333;
    --primary: #ffffff;
    --title-image-size: 440px;
    --hover-title-size: 450px;
    --transition-time: 500ms;
    font-size: 20px;
  }

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.title img {
    max-width: 1080px;
    width: 95vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  /* F O N T S */
@font-face {
    font-family: 'sang';
    src: url(fonts/SangBleuKingdom-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sangMed';
    src: url(fonts/SangBleuKingdom-Medium.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sangBold';
    src: url(fonts/SangBleuKingdom-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

/*global styling*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max-width {
    max-width: 1300px;
    margin: auto;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}

.bg-shader {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

#title {
    padding-top: 100px;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

/*foreword*/

#foreword {
    text-align: center;
    margin-bottom: 25px;
}

#foreword div {
    text-align: left;
    max-width: 1300px;
    margin: auto;
    padding: 10px;
}

/*song section styling*/

#songs {
    margin-bottom: 25px;
}

.song-thumbnail {
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 3px solid var(--grey);
    transition: var(--transition-time);
    border-radius: 5px;
    cursor: pointer;
}

#centerpiece {
    height: 350px;
}

.supporting-song {
    height: 300px;
}

.song-thumbnail:hover {
    border: 3px solid var(--secondary);
}

.song-thumbnail img {
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: var(--transition-time);
    object-fit: cover;
}

.supporting-song img {
    height: 100%;
}

.song-thumbnail:hover img {
    /* width: 102%; */
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.song-thumbnail p {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -105%);
    transition: var(--transition-time);
    text-shadow: 1px 1px black;
    opacity: 0;
}

.song-thumbnail:hover p {
    color: var(--secondary);
    opacity: 1;
}

#centerpiece p {
    font-size: 45px;
}

.supporting-song p {
    font-size: 40px;
}

#supporting-songs {
    margin-top: 25px;
}

#supporting-songs .song-thumbnail {
    width: 49%;
    float: left;
    margin-bottom: 25px;
}

#supporting-songs .song-thumbnail:nth-child(odd) {
    margin-right: 2%;
}

/* release date styling */
#release-date {
    text-align: center;
    margin-bottom: 25px;
}

/*track listing styling*/
#track-listing {
    margin-bottom: 25px;
}

#track-listing h1 {
    margin-bottom: 25px;
}

#track-listing img {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 5px;
}

#track-listing  p {
    width: 49%;
    float: left;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 25px;
}

#track-listing p:nth-child(odd) {
    margin-right: 2%;
}

/* ol {
    list-style-type: decimal !important;
} */

/*footer styling*/
footer{
    font-family: 'sang';
    padding: 20px 23px;
    text-align: center;
    font-size: 12px;
}

footer span a{
    color: var(--secondary);
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

footer img{
    margin-top: 25px;
    height: 80px;
    width: auto;
}

/* Responsive media query */

@media (max-width: 1350px) {
    .max-width {
        max-width: 900px;
        padding: 0;
    }

    #centerpiece {
        height: 300px;
    }

    .supporting-song {
        height: 250px;
    }

    .song-thumbnail img {
        height: 100%;
    }
}

@media (max-width: 991px) {
    .max-width {
        max-width: 900px;
        padding: 0;
    }

    .supporting-song {
        height: 175px;
    }

    #centerpiece {
        height: 225px;
    }
}

@media (max-width: 920px) {
    .max-width {
        max-width: 680px;
        padding: 0;
    }

    #centerpiece {
        height: 200px;
    }

    .supporting-song {
        height: 150px;
    }

    .song-thumbnail img {
        -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
    }

    .song-thumbnail p {
        display: none;
    }

    #track-listing img {
        width: 75%;
    }

    #track-listing  p {
        width: 90%;
        float: none;
    }
}

@media (max-width: 690px) {
    /*690 global*/
    .max-width {
        margin-left: 23px;
        margin-right: 23px;
    }

    #track-listing img {
        width: 90%;
    }
}

@media (max-width: 500px) {

}