:root {
    /* for 2K and 4K */
    --big-size: 100px;
    --mid-size: 90px;
    --lil-size: 60px;
    /* for under 2K */
    --mid-big-size: 80px;
    --mid-mid-size: 45px;
    --mid-lil-size: 30px;
    /* For smaller sizes */
    --lil-big-size: 60px;
    --lil-mid-size: 35px;
    --lil-lil-size: 20px;

    --split-padding: 45px;
}

/* crazy place styling */
#crazy-place {
    /* background-color: aqua; */
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

#crazy-place:hover {
    cursor: pointer;
}

#crazy-place-content {
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.split-screen {
    height: 500px;
    /* background-color: purple; */
    padding: 0 !important;
}

.split-screen .left-screen, .split-screen .right-screen {
    float: left;
}

.split-screen .left-screen {
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    text-align: end;
    padding-right: var(--split-padding);
}

.split-screen .right-screen {
    /* background-color: crimson; */
    width: 50%;
    height: 100%;
    padding-right: var(--split-padding);
    padding-top: 35px;
    text-align: end;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.split-screen div {
    margin-left: auto;
    margin-right: 0;
}

/* .left-screen div:nth-child(even), .right-screen div:nth-child(even) {
    background-color: black;
} */

.word-container {
    margin: 0;
    width: auto;
    position: relative;
    overflow: visible;
}

.left-screen .top-word {
    font-size: var(--lil-size);
    height: var(--lil-size);
}

.right-screen .top-word {
    font-size: var(--mid-size);
    height: var(--mid-size);
    transform: translate(0, 55px);
}

.mid-word {
    font-size: var(--big-size);
    height: var(--big-size);
}

.left-screen .bot-word {
    font-size: var(--mid-size);
    height: var(--mid-size);
    transform: translate(0, -50px);
}

.right-screen .bot-word {
    font-size: var(--lil-size);
    height: var(--lil-size);
}

#loading-screen-tip {
    float: right;
    /* background-color:blueviolet; */
    width: 45%;
}

#loading-screen-tip span {
    color: var(--highlight-color);
}

.top-shadow, .bot-shadow {
    position: relative;
}

.top-shadow {
    transform: translate(-5px, -104%);
    /* transform: translate(0, -100%); */
}

.bot-shadow {
    transform: translate(-5px, -195%);
}

/* word bank */

#word-bank {
    display: none;
}

@media (max-width: 2559px) {
    .split-screen {
        height: 300px;
    }

    .left-screen .top-word {
        font-size: var(--mid-lil-size);
        height: var(--mid-lil-size);
    }
    
    .right-screen .top-word {
        font-size: var(--mid-mid-size);
        height: var(--mid-mid-size);
        transform: translate(0, 35px);
    }
    
    .mid-word {
        font-size: var(--mid-big-size);
        height: var(--mid-big-size);
    }
    
    .left-screen .bot-word {
        font-size: var(--mid-mid-size);
        height: var(--mid-mid-size);
        transform: translate(0, -30px);
    }
    
    .right-screen .bot-word {
        font-size: var(--mid-lil-size);
        height: var(--mid-lil-size);
    }
}

@media (max-width: 600px) {
    .split-screen div {
        margin-right: auto;
    }

    .split-screen {
        height: 200px;
        /* background-color: purple; */
        padding: 0 !important;
    }

    .split-screen .right-screen {
        /* background-color: crimson; */
        padding-top: 50px;
    }

    .left-screen, .right-screen {
        padding-left: 20px;
    }

    .left-screen .top-word {
        font-size: var(--lil-lil-size);
        height: var(--lil-lil-size);
    }
    
    .right-screen .top-word {
        font-size: var(--lil-mid-size);
        height: var(--lil-mid-size);
        transform: translate(0, 35px);
    }
    
    .mid-word {
        font-size: var(--lil-big-size);
        height: var(--lil-big-size);
    }
    
    .left-screen .bot-word {
        font-size: var(--lil-mid-size);
        height: var(--lil-mid-size);
        transform: translate(0, -30px);
    }
    
    .right-screen .bot-word {
        font-size: var(--lil-lil-size);
        height: var(--lil-lil-size);
    }

    #loading-screen-tip {
        float: right;
        /* background-color:blueviolet; */
        width: 85%;
    }
}