/* P A L E T T E
Amarillo patito: #fabf00
Blue Grey:  #6699CC
*/

:root {
    --secondary: #fabf00;
    --primary: #ffffff;
    --title-image-size: 440px;
    --hover-title-size: 450px;

    --light-space: #18003f;
    --dark-space: #02001a;
}


/* F O N T S */
@font-face {
    font-family: 'sang';
    src: url(fonts/SangBleuKingdom-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sangMed';
    src: url(fonts/SangBleuKingdom-Medium.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sangBold';
    src: url(fonts/SangBleuKingdom-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

/* scrolling background*/
#tile-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

#tile-pattern {
    background-image: url("../assets/sd-tile.svg");
    background-size: 8%;
    position: absolute;
    left: 50%;
    translate: -50% 0%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 300s linear infinite;
    will-change: background-position;
}

#tile-gradient-overlay {
    background: radial-gradient(circle, transparent 75%, black);
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
}

/*Project timeline*/

#timeline {
    /* background-color: blue; */
    padding: 0 !important;
    margin: 0 !important;
    height: 99vh;
    display: flex;
    align-items: center;

}

.scrolling-background {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    padding-top: 150px;
    height: 750px;
    display: flex;
}

.project {
    height: 100%;
    width: var(--hover-title-size);
    margin-left: 6vw;
    margin-right: 6vw;
    /* background-color: rgb(129, 129, 234); */
    display: flex;
    justify-content: center;
    float: left;
}

.project:nth-child(1) {
    margin-left: 10vw;
}

.project:last-child {
    margin-right: 10vw;
}



.project .image-stack {
    position: relative;
    width: var(--title-image-size);
    transition: 0.3s ease;
    height: 360px;
    /* background-color: crimson; */
}

.project .image-stack:hover {
    width: var(--hover-title-size);
    cursor: pointer;
}

.image-stack img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    transition: 0.3s ease;
}

.locked {
    -webkit-filter: grayscale(50%);
    filter: grayscale(75%);
}

.image-stack h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background-color: #fabf00; */
}

.hover-audio {
    display: none;
}





/* Responsive media query */

@media (max-width: 1300px) {}

@media (max-width: 991px) {

    #timeline {
        display: block;
        height: auto;
    }

    .scrolling-background {
        display: block;
        overflow-x: hidden;
        height: auto;
    }

    .project {
        display: block;
        position: relative;
        float: none;
        width: 450px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .project .image-stack {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .project:nth-child(1) {
        margin-top: 25px;
    }

    .project:nth-child(1),
    .project:last-child {
        margin-left: auto;
        margin-right: auto;
    }

    .image-stack img {
        position: static;
    }

    .glow-image {
        display: none;
        height: 0;
        width: 0;
    }

    /* .project:nth-child(even) {
    background-color: rgb(238, 78, 78);
    justify-content: space-between;
    } */

    /* .project:nth-child(even) .image-stack {
        background-color: rgb(78, 99, 238);
        justify-content: space-between;
    } */
}

@media (max-width: 947px) {}

@media (max-width: 690px) {}

@media (max-width: 500px) {
    .project {
        width: 92vw;
        height: auto;
    }

    .image-stack img {
        width: 100%;
        margin-bottom: 25px;
    }
}