#videoBG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

#poster-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#poster-container img {
	min-width: 100%;
	max-height: 100%;
	opacity: 0.8;
	transform: translate(0, 0);
}

@media (max-width: 2000px) {
	#videoBG {
		height: 100%;
		width: auto;
	}

	#poster-container img {
		min-width: 100%;
		max-height: 100%;
	}
}

@media (max-width: 1024px) {
	#videoBG {
		left: -250px;
	}

	#poster-container img {
		transform: translate(0, 0);
	}
}

@media (max-width: 944px) {
	#poster-container img {
		transform: translate(-15%, 0);
	}
}

@media (max-width: 750px) {
	#video-banner {
		left: unset;
		right: 0;
	}
}

@media (max-width: 500px) {

	#poster-container img {
		transform: translate(-15%, 0);
	}
}